<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>

<p>
  <strong>School:</strong>
  <%= @computer.school %>
</p>
<p>
  <strong>ACPS Number:</strong>
  <%= @computer.acpsnumber %>
</p>

<p>
  <strong>BPI:</strong>
  <%= @computer.bpinumber %>
</p>

<p>
  <strong>Make:</strong>
  <%= @computer.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @computer.computer_model %>
</p>

<p>
  <strong>OS:</strong>
  <%= @computer.os %>
</p>

<p>
  <strong>Room #:</strong>
  <%= @computer.room %>
</p>

<p>
  <strong>Status:</strong>
  <%= @computer.status %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @computer.comment %>
</p>

